<div class="main">
  <div class="main-content">
    <div class="container">
      <div class="main-About">
        <b class="restaurant">We Are A Mexican Restaurant</b>
        <b>Makes Delicious.</b>
      </div>
      <div class="main-welcome">
        <p class="content">Hi! Our Restaurant has been present for over 20 years in the market. We make the most of all
          our customers. Hi! Our Restaurant has been</p>
        <p class="content">present for over 20 years in the market. We make the most of all our customers. Hi! Our
          Restaurant has been
          present for over 20 years in the market. We make the</p>
        <p class="contentBoder">most of all our customers.</p>
      </div>
    </div>
    <div class="img-content">
      <div class="img-left">
        <img class="img01" src="./assets/img_about01.png">
        <img class="img02" src="./assets/img_about02.png">
      </div>
      <div class="img-right">
        <img class="img03" src="./assets/img_about03.png">
        <div class="img-tittle">
          <b>The story of our</b>
          <b>first restaurant </b>
          <b>branch</b>
        </div>
        <div class="img-tittle-a">
          <a>At vero eos et accusamus et iusto odio dignissimos ducimus qui</a>
          <a>blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</a>
          <a>et quas molestias excepturi sint occaecati cupiditate non provident.</a>
        </div>
      </div>
    </div>
    <div class="OurVision">
      <div class="Mission">Our Vision & Mission</div>
      <div class="Lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat aliquam amet, cursus tellus non
      </div>
      <div class="Lorem">consequat laoreet eget ornare. Tellus vulputate tellus a, lobortis et nisl. Quisque vulputate
        eget et,
      </div>
      <div class="Lorem">aliquet libero, porttitor luctus placerat.</div>
      <div class="img-our">
        <div class="main-infomation">
          <div class="Delicious">

            <img class="img05" src="./assets/img_about4.2.svg">
            <div class="info">
              <b>Delicious Cuisine</b>
              <p>Lorem ipsum dolor sit amet, consectetur</p>
              <p>adipiscing elit trat aliquam amet.</p>
            </div>
          </div>
          <div class="Fast">
            <img class="img05" src="./assets/img_about4.3.svg">
            <div class="info">
              <b>Fast Delivery</b>
              <p>Lorem ipsum dolor sit amet, consectetur</p>
              <p>adipiscing elit trat aliquam amet.</p>
            </div>
          </div>
          <div class="Chef">
            <img class="img05" src="./assets/img_about4.1.svg">
            <div class="info">
              <b>Professional Chef</b>
              <p>Lorem ipsum dolor sit amet, consectetur</p>
              <p>adipiscing elit trat aliquam amet.</p>
            </div>
          </div>
        </div>
        <div class="img04">
          <img src="./assets/img_about04.png">
        </div>
      </div>
    </div>
    <div class="Subscribe">
      <div class="img-sub">
        <img src="./assets/Vector.png">
      </div>
      <div class="Subscribe-img">
        <div class="img_about05">
          <img src="./assets/img_about05.png">
        </div>
        <div class="content-sub">
          <div class="sub-tittle">
            <b>Subscribe Newsletter</b>
            <b>& Get Letest News</b>
            <!--          </div>-->
            <!--          <div class="sub-tittle">-->
            <p>Get insider access to news around the innovations, unique cooking</p>
            <p>techniques, culinary concepts, insights, and more</p>
          </div>
          <div class="sub-form">
            <p>Enter your email address</p>
            <div>

              <img class="next" src="./assets/Vector%205.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
