.container {
  background-color: var(--secondary-color);
  padding: 20px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .nav-bar {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 10px;
        color: var(--text-color);
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 162.5%;
        cursor: pointer;
      }
    }
  }

  .info {
    span {
      color: var(--text-color);
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 162.5%;
    }

    .reservation {
      color: #FFFFFF;
      position: relative;
      margin-left: 20px;
      cursor: pointer;
    }

    .reservation:after {
      position: absolute;
      left: 2px;
      bottom: -2px;
      content: "";
      display: block;
      width: 115px;
      height: 1px;
      background: #FFFFFF;
      transition: width 0.3s;
    }
  }
}

.selected {
  color: var(--primary-color) !important;

}
