<div class="container">
  <div class="main-content">
    <div class="row">
      <div class="nav-bar">
        <ul>
          @for (item of navItems; track $index) {
            <li
              [ngClass]="{ selected: selectedItem === $index }"
              (click)="chooseItem($index)"
            >
              {{ item.name }}
            </li>
          }
        </ul>
      </div>
      <div class="info">
        <span>8:00 we're open</span>
        <span class="reservation" (click)="reservationSelected()"
          >Table Reservation</span
        >
      </div>
    </div>
  </div>
</div>
