/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #FB8F2C;
  --secondary-color: #111114;
  --text-color: #CFCFD0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
