<div class="main-menu">
  <div class="main-content">
    <div class="breakfast">
      <b>Breakfast</b>
      <img class="img_breakfast" src="assets/main_menu.png">
    </div>
    <div class="menu">
      <div class="menu01">
        <div class="image"><img src="assets/menu_01%20(1).png"></div>
        <div class="food">
          <b>Egg Frittata Muffins. PIN IT</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
      <div class="menu01">
        <div class="image"><img src="assets/menu_01%20(1).png"></div>
        <div class="food">
          <b>Egg Frittata Muffins. PIN IT</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
      <div class="menu01">
        <div class="image"><img src="assets/menu_01%20(1).png"></div>
        <div class="food">
          <b>Egg Frittata Muffins. PIN IT</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-food">
    <img src="assets/image_food.png">
    <div CLASS="COLOR">
      <div class="content">
        <b class="foodIsNotJust">Food Is Not Just</b>
        <b class="eat">Eating Energy.</b>
        <p>It's an experience.</p>
      </div>
      <button class="order-button">Order Now</button>
    </div>
  </div>
  <div class="main-content">
    <div class="breakfast">
      <b>Lunch</b>
      <img class="img_breakfast" src="assets/main_menu.png">
    </div>
    <div class="menu">
      <div class="menu01">
        <div class="image"><img src="assets/lunch_01%20(1).png"></div>
        <div class="food">
          <b>Crispy chicken breasts</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
      <div class="menu01">
        <div class="image"><img src="assets/lunch_03.png"></div>
        <div class="food">
          <b>Schezwan Noodles</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
      <div class="menu01">
        <div class="image"><img src="assets/lunch_02.png"></div>
        <div class="food">
          <b>New Lubina Marinada</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="breakfast">
      <b>Dinner</b>
      <img class="img_breakfast" src="assets/main_menu.png">
    </div>
    <div class="menu">
      <div class="menu01">
        <div class="image"><img src="assets/dinner_01.png"></div>
        <div class="food">
          <b>Crispy chicken breasts</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
      <div class="menu01">
        <div class="image"><img src="assets/dinner_02.png"></div>
        <div class="food">
          <b>Schezwan Noodles</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
      <div class="menu01">
        <div class="image"><img src="assets/dinner_03.png"></div>
        <div class="food">
          <b>New Lubina Marinada</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="breakfast">
      <b>Starters</b>
      <img class="img_breakfast" src="assets/main_menu.png">
    </div>
    <div class="menu">
      <div class="menu01">
        <div class="image"><img src="assets/starters_01.png"></div>
        <div class="food">
          <b>Crispy chicken breasts</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
      <div class="menu01">
        <div class="image"><img src="assets/starters_03.png"></div>
        <div class="food">
          <b>Schezwan Noodles</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
      <div class="menu01">
        <div class="image"><img src="assets/starters_02.png"></div>
        <div class="food">
          <b>New Lubina Marinada</b>
          <p>Fresh toasted sourdough bread with olive oil and</p>
          <p class="border-bottom">pomegranate.</p>
          <div class="order">
            <b class="buy">Order now</b>
            <b>$24</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
